.App {
  text-align: center;
  padding: 10px;
}

.events-list-wrapper {
  width: 90%;
  margin: auto;
}

.app__button-wrapper {
  margin: 50px 0
}

.app__button {
  border: unset;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #25bd25;
  padding: 15px 30px;
  font-size: 18px;
  text-transform: uppercase;
  transition: .2s;
  color: #25bd25;
  cursor: pointer;
}

.app__button:hover {
  background-color: #25bd25;
  color: #fff;
  scale: 1.1;
}

.events-list__title {
  text-align: left;
}